<ion-view view-title="Charts">
<!--    <ion-content >-->
    <ion-tabs class="tabs-positive tabs-icon-only">
        <ion-tab title="Home" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse" href="#/app/charts/stats">
            <ion-nav-view name="charts-stats">
            </ion-nav-view>

        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/app/charts/list">
            <ion-nav-view name="charts-list">
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" href="#/app/charts/world">
            <ion-nav-view name="charts-world">
            </ion-nav-view>
        </ion-tab>
    </ion-tabs>
<!--    </ion-content>-->
</ion-view>
